html {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;

    font-family: "Righteous", sans-serif;
  }

.cardInfo{
    max-width: 400px;
    padding: 1rem;
    text-align: center;
    color: var(--color-white);
    margin: 100px auto;
}

.cardRepo{
    max-width: 600px;
    text-align: center;
    color: var(--color-white);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;

}

img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid var(--color-red1);
}

a{
    text-decoration: none;
    color: var(--color-red1);
}